matplotlib==3.10.1
networkx==3.4.2
numpy==2.2.4
openai==1.66.5
pyomo==6.9.1
python-dotenv==1.0.1
streamlit==1.43.2
tiktoken==0.9.0
gurobipy==12.0.1
PySide6==6.8.2.1
pytest==8.3.3
streamlit==1.43.2
pandas==2.2.3
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
alembic==1.13.1
python-json-logger==2.0.7
pytest-cov==4.1.0
